@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');
/*#5865f2,#f6f6f6*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-gif{
    width: 100%;
    height: 620px;
    background-image: url('/assets/images/background/fire.gif');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-bottom: 10px solid #000000;
}

ul{
    display: flex;
}

li{
    color: #FFFFFF;
    list-style: none;
    padding: 3px;
    margin: auto;
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.background-gif .socials{
    width: 200px;
    height: 35px;
    float: right;
}

.background-gif .socials i{
    padding: 3px;
    color: #000000;
}

.background-gif img{
    width: 220px;
}

.background-gif h1{
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Londrina Shadow', cursive;
    margin-top: -25px;
}

#scroll img{
    width: 80px;
    margin-top: 20%;
}

#about{
    width: 100%;
    height: 600px;
    background: #FFFFFF;
    padding: 10px;
}

#about h2{
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-family: 'Londrina Shadow', cursive;
    text-shadow: 1px 2px 15px #333;
}

#about #manita{
    width: 40px;
    margin-top: 5px;
    margin: 5px 5px;
    position: absolute;
}

#about .image-left{
    margin-left: 0.5%;
    box-shadow: 1px 2px 15px  #333;
    margin-top: 20px;
}

#about .image-left img{
    width: 402px;
    height: 402px;
    border-radius: 4px;
}

#about .aboutnombre{
    width: 380px;
}

#about .aboutnombre h3{
    color: #000000;
    font-size: 30px;
    text-align: center;
    font-family: 'Londrina Shadow', cursive;
}

#about .content-about{
    width: 700px;
    height: 300px;
    margin: auto;
    margin-left:33%;
    margin-top: 30px;
    position: absolute;
}

#about .content-about p{
    color: #000000;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

#tecnologias{
    width: 100%;
    height: 400px;
    background: #f6f6f6;
    padding: 10px;
}

#tecnologias h4{
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-family: 'Londrina Shadow', cursive;
    text-shadow: 1px 2px 15px #333;
}

#tecnologias p{
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 1px 1px  #333;
    margin-top: 5px;
}

#tecnologias .tecnologias-imgs{
    width: 400px;
    height: 120px;
    padding: 10px;
    margin: 10px 39%;
    margin-top:10%;
}

#tecnologias .tecnologias-imgs img{
    width: 80px;    
}

#portafolio{
    width: 100%;
    height: 600px;
}

#portafolio h5{
    color: #000000;
    text-align: center;
    font-size: 40px;
    font-family: 'Londrina Shadow', cursive;
    text-shadow: 1px 2px 15px #333;
}
