@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background-gif{
    width: 100%;
    height: 620px;
    background-image: url('/assets/images/background/fire.gif');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

ul{
    display: flex;
}

li{
    color: #FFFFFF;
    list-style: none;
    padding: 3px;
    margin: auto;
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

.background-gif .socials{
    width: 200px;
    height: 35px;
    float: right;
}

.background-gif .socials i{
    padding: 3px;
    color: #000000;
}

.background-gif img{
    width: 220px;
}

.background-gif h1{
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: -25px;
}

#scroll img{
    width: 80px;
    margin-top: 20%;
}